*{box-sizing:border-box}body,html{background-color:#000;color:#fff;font-family:Helvetica Neue,Helvetica,sans-serif;font-style:normal;font-weight:100;font-size:inherit;padding:0;margin:0}a{color:#fff;-webkit-transition:all .4s cubic-bezier(0,1.115,.415,.975);transition:all .4s cubic-bezier(0,1.115,.415,.975)}a,a:hover{text-decoration:none}a:hover{color:#c6fdea}ul{margin:0;padding:0;list-style:none}.content{margin:80px 40px}h1{font-weight:500;line-height:1.4;margin:0}#current-work{margin-top:100px}#current-work li{color:#333;line-height:1.8;font-weight:500;text-transform:uppercase;font-size:12px;letter-spacing:2px}#current-work li a{color:#777}@media (max-width:600px){h1{font-size:22px}.content{margin:70px 20px}}

*, *:after, *:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}


.container{
    height:100%;
    position:relative;
}
.container > section{
    margin:0 auto;
    padding:6em 3em;
    text-align:center;
    color:#737373;
    
}

h3{
    color:#737373;
    margin:20px;
    text-align:right;
    text-transform:uppercase;
}
    
/* General button styles */
.btn{
    border:none;
    position:relative;
    background:none;
    padding:28px 90px;
    display:inline-block;
    text-transform:uppercase;
    margin:15px 30px;
    color:inherit;
    letter-spacing:2px;
    font-size:0.9em;
    outline:none;
    -moz-transition:all 0.4s;
    -webkit-transition:all 0.4s;
    transition:all 0.4s;
    cursor:pointer;
}
.btn:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    transition:all 04.s;
}
.btn_perspective{
    -webkit-perspective:800px;
    -moz-perspective:800px;
    perspective:800px;
    display:inline-block;
}
.btn-3d{
    display:block;
    background:#ffffff;
    outline:1px solid transparent;
    transform-style:preserve-3d;
}
.btn-3d:active{
    background:#000000;   
}
.btn-3da:after{
    width:100%;
    height:42%;
    left:0;
    top:-40%;
    background:#53a6d7;
    transform-origin:0% 100%;
    transform:rotateX(90deg);
   
    
}
.btn-3da:hover{
    transform: rotateX(-45deg);   
}
.btn-3db:after{
    width:100%;
    height:40%;
    left:0;
    top:100%;
    background:#53a6d7;
    transform-origin: 0% 0%;
    transform:rotateX(-90deg);
}
.btn-3db:hover{
    transform:rotateX(35deg);   
}
.btn-3dc:after{
    width:20%;
    height:100%;
    left:-20%;
    top:0;
    background:#53a6d7;
    -webkit-transform-origin:100% 0%;
    -webkit-transform:rotateY(-90deg);
    -moz-transform-origin:100% 0%;
    -moz-transform:rotateY(-90deg);
    -ms-transform-origin:100% 0%;
    -ms-transform:rotateY(-90deg);
    transform-origin:100% 0%;
    transform:rotateY(-90deg);
}
.btn-3dc:hover{
    transform:rotateY(25deg);   
}
.btn-3dd:after{
    width:20%;
    height:100%;
    left:100%;
    top:0;
    background:#ffffff;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:rotateY(90deg);
    -moz-transform-origin:0% 0%;
    -moz-transform:rotateY(90deg);
    -ms-transform-origin:0% 0%;
    -ms-transform:rotateY(90deg);
    transform-origin:0% 0%;
    transform:rotateY(90deg);
}
.btn-3dd:hover{
    -webkit-transform:rotateY(-15deg);
    -moz-transform:rotateY(-15deg);
    -ms-transform:rotateY(-15deg);
    transform:rotateY(-15deg);
}


@media screen and (max-width:480px){
    .container{
        font-size:1.2em;   
    }
}


